* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: hsl(216, 12%, 8%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixa {
    width: 370px;
    height: auto;
    border-radius: 20px;
    padding: 20px;
    color: white;
    background: linear-gradient(to top, hsl(213, 19%, 18%), 75%, rgba(39, 39, 39, 0.441));
}

.caixa2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    height: auto;
    background: linear-gradient(to top, hsl(213, 19%, 18%), 75%, rgba(39, 39, 39, 0.441));
    border-radius: 20px;
    padding: 20px;
    color: white;
}

img {
    width: 30px;
    padding: 10px;
    border-radius: 100%;
    background-color: hsl(213, 19%, 18%);
    margin-bottom: 20px;
}

.imgobg {
    width: 150px;
    background: none;

}

.obrigado {
    background-color: hsl(213, 19%, 18%);
    color: hsl(25, 97%, 53%);
    border-radius: 20px;
    width: fit-content;
    padding: 10px;
}

h1 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 10px;
}

p {
    font-size: 15px;
    color: hsl(217, 12%, 63%);
    font-weight: 400;
    margin-bottom: 20px;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: center;
    color: hsla(216, 12%, 54%);
    background-color: hsla(216, 12%, 54%, 0.098);
    border-radius: 200%;
    padding: 10px;
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    cursor: pointer;
}

ul:hover {
    background-color: hsl(25, 97%, 53%);
    color: white;
}

.selecionado {
    background-color: hsl(217, 12%, 63%);
    color: white;
}

button {
    background-color: hsl(25, 97%, 53%);
    width: 100%;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
}

.obrigadoFinal {
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}

#votou {
    display: none;
}

#caixa2aparece {
    display: none;
}